doctype html
html(lang="fr")
	head
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
		//link(href="/css/main.css", rel="stylesheet")
		title Be Fruit !

	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container
				div.navbar-header
					div#navbar.collapse.navbar-collapse
						ul.nav.navbar-nav
							li.active
								a Home Page
							li
								a About
							li
								a Contact

block content